.fade-enter-active, .fade-leave-active {
	position: relative;
	z-index: -1;
	transition: all .5s;
	top: 0px;
	opacity: 1;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
	position: relative;
	top: -20px;
	opacity: 0;
}